@-moz-document url-prefix("https://www.youtube.com/") {
    #home-page-skeleton .rich-grid-media-skeleton {
        width: calc(100% / 6 - 4px) !important;
        min-width: unset !important;
        margin: 0 2px !important;
    }

    ytd-two-column-browse-results-renderer {
        /*width: var(--ytd-grid-6-columns-width) !important;*/
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }


    /* @media only screen and (min-width: 1201px) {
        ytd-rich-grid-renderer {
            --ytd-rich-grid-items-per-row: 6 !important;
            --ytd-rich-grid-item-margin: 4px !important;
        }
        
    }
     */
    /* @media only screen and (min-width: 801px) and (max-width: 1200px) {
        ytd-rich-grid-renderer {
            --ytd-rich-grid-items-per-row: 5 !important;
            --ytd-rich-grid-item-margin: 4px !important;
        }
        
    }
     */
    ytd-rich-grid-renderer {
        --ytd-rich-grid-item-margin: 4px !important;
    }

    @media only screen and (max-width: 4000px) {
        ytd-rich-grid-renderer {
            --ytd-rich-grid-items-per-row: 7 !important;
        }
    }

    @media only screen and (max-width: 1700px) {
        ytd-rich-grid-renderer {
            --ytd-rich-grid-items-per-row: 7 !important;
        }
    }

    @media only screen and (max-width: 1500px) {
        ytd-rich-grid-renderer {
            --ytd-rich-grid-items-per-row: 6 !important;
        }
    }

    @media only screen and (max-width: 1200px) {
        ytd-rich-grid-renderer {
            --ytd-rich-grid-items-per-row: 5 !important;
        }
    }

    @media only screen and (max-width: 1000px) {
        ytd-rich-grid-renderer {
            --ytd-rich-grid-items-per-row: 5 !important;
        }
    }

    @media only screen and (max-width: 900px) {
        ytd-rich-grid-renderer {
            --ytd-rich-grid-items-per-row: 4 !important;
        }
    }

    @media only screen and (max-width: 800px) {
        ytd-rich-grid-renderer {
            --ytd-rich-grid-items-per-row: 3 !important;
        }
    }

    @media only screen and (max-width: 600px) {
        ytd-rich-grid-renderer {
            --ytd-rich-grid-items-per-row: 2 !important;
        }
    }


    /* @media only screen and (max-width: 800px) {
        ytd-rich-grid-renderer {
            --ytd-rich-grid-items-per-row: 4 !important;
            --ytd-rich-grid-item-margin: 4px !important;
        }
        
    }
     */
    #contents>ytd-rich-grid-row,
    #contents>ytd-rich-grid-row>#contents {
        display: contents !important;
    }

    ytd-rich-item-renderer {
        margin-bottom: 5px !important;
    }

    ytd-rich-item-renderer:first-of-type,
    ytd-rich-item-renderer:last-of-type {
        margin-right: 2px !important;
        margin-left: 2px !important;
    }

    ytd-rich-grid-renderer .ghost-grid.ytd-ghost-grid-renderer {
        margin: 0 !important;
    }

    ytd-rich-grid-renderer #spinner {
        position: absolute !important;
        bottom: -10px !important;
        left: calc(50% - 14px) !important;
        margin: 0 !important;
    }

    #details #meta {
        padding-right: 0 !important;
    }

    #details #meta>h3 {
        padding-right: 24px !important;
    }

    #video-title.ytd-rich-grid-media {
        font-size: 1.3rem !important;
        line-height: 1.3em !important;
        height: 80px !important;
        max-height: 55px !important;
    }

    #text.ytd-channel-name,
    ytd-video-meta-block[rich-meta] #metadata-line.ytd-video-meta-block {
        font-size: 1.2rem !important;
        line-height: 1.8rem !important;
    }

    ytd-section-list-renderer[page-subtype="history"] #separator.ytd-video-meta-block:not([hidden]) {
        display: inline-block !important;
        color: var(--yt-spec-text-secondary) !important;
        margin: 0 4px !important;
    }

    div.style-scope.ytd-rich-grid-slim-media>ytd-thumbnail.style-scope.ytd-rich-grid-slim-media {
        height: 200px !important;
    }

    span#video-title.style-scope.ytd-rich-grid-slim-media {
        font-size: 1.2rem !important;
    }

    ytd-rich-grid-media.style-scope.ytd-rich-item-renderer {
        padding: 2px;
        xborder: 1px solid #555;
        border-radius: 9px;
    }

    html[darker-dark-theme][dark],
    [darker-dark-theme] [dark] {
        --yt-spec-text-primary: #888;
    }

    span.yt-core-attributed-string--link-inherit-color {
        color: #999 !important;
    }

    ytd-rich-grid-slim-media[is-short] ytd-thumbnail.ytd-rich-grid-slim-media:before {
        padding: 0px !important;
    }

    ytd-thumbnail #thumbnail.ytd-thumbnail {
        background-color: transparent !important;
    }

    yt-icon.ytd-logo svg path {
        /*     color: #red !important; */
    }

    :root {
        --color__1: #333;
    }

    yt-icon.ytd-logo svg>svg>g>path:nth-child(1) {
        fill: var(--color__1);
    }

    yt-icon.ytd-logo svg>svg>g:nth-child(2)>g>path {
        fill: var(--color__1);
    }

    div.ytp-play-progress.ytp-swatch-background-color {
        background-color: #aa1 !important;
        /*     box-shadow: 1px 1px 1px red */
    }


    ytd-rich-item-renderer[is-slim-media] {
        width: calc(50%/var(--ytd-rich-grid-slim-items-per-row) - var(--ytd-rich-grid-item-margin) - .01px) !important;
    }
}